<div style="padding-bottom: 10px">
  <div class="border border-secondary" style="padding: 10px">
    {% set collapser = "_comment-" ~ comment.id %}
    <a id="{{ collapser }}-toggle" data-toggle="collapse" href="#{{ collapser }}" role="button"
        aria-expanded="true" aria-controls="{{ collapser }}">
      [-]
    </a>

    <b>
      {%- if comment.show_anon -%}
        <span class="text-muted">Anonymous</span>
      {%- else -%}
        <a href="{{ url_for("profile.index", user_id=comment.author.id) }}" class="text-info">
          {{ comment.author.username }}
        </a>
      {%- endif -%}
    </b> {{ moment(comment.posted_at).fromNow() }}

    <div class="collapse show" id="{{ collapser }}">
      {% if comment.was_edited %}
        <p class="small">Last edited {{ moment(comment.edited_at).fromNow() }}</p>
      {% endif %}

      <hr />

      <p>{{ comment.html_body|safe }}</p>

      {% if current_user.id == comment.author.id or current_user.is_admin %}
        <hr class="border-secondary" style="margin-bottom: 0rem" />
        {# Edit #}
        <a href="{{ url_for("forum.edit_comment", post_id=comment.parent_post.id, comment_id=comment.id) }}"
            class="btn btn-link">
          {% if current_user.id == comment.author.id %}
            <b>Edit comment</b>
          {% else %}
          <b class="text-danger">[admin] Edit comment</b>
          {% endif %}
        </a>
        {# Delete #}
        <a href="{{ url_for("forum.delete_comment", post_id=comment.parent_post.id, comment_id=comment.id) }}"
            class="btn btn-link" data-method="post" data-confirm="Are you sure you want to permamently delete this comment?">
          {% if current_user.id == comment.author.id %}
            <b class="text-danger">Delete comment</b>
          {% else %}
          <b class="text-danger">[admin] Delete comment</b>
          {% endif %}
        </a>
      {% endif %}
    </div>
  </div>
</div>
