<div style="padding-bottom: 10px">
  <div class="border border-secondary" style="padding: 10px">

    <b>{{ comment.author.username }}</b> {{ moment(comment.posted_at).fromNow() }}

    {% if comment.was_edited %}
      <!-- TODO: I really want this on the row above -->
      <p class="small">Last edited {{ moment(comment.edited_at).fromNow() }}</p>
    {% endif %}

    <p>{{ comment.body }}</p>

    {% if current_user.id == comment.author.id %}
      <hr class="border-secondary" style="margin-bottom: 0rem" />
      <a href="{{ url_for("forum.edit_comment", post_id=comment.parent_post.id,
          comment_id=comment.id) }}" class="btn btn-link">
        <b>Edit comment</b>
      </a>
    {% endif %}
  </div>
</div>
