<h5>
  {% if post in current_user.followed_posts %}
    <a href="{{ url_for("forum.unfollow_post", post_id=post.id) }}" data-method="post" class="text-info">
      You're subscribed to new comments on this post. Click here to unsubscribe.
    </a>
  {% else %}
    <a href="{{ url_for("forum.follow_post", post_id=post.id) }}" data-method="post" class="text-info">
      Click to subscribe to new comments on this post
    </a>
  {% endif %}
</h5>

<div style="padding-bottom: 10px">
  <div class="border border-primary rounded" style="padding: 10px; border-width: 5px !important">
    <h1>{{ post.title }}</h1>

    <b>
      {% if post.show_anon -%}
        <span class="text-muted">Anonymous</span>
      {%- else -%}
        <a href="{{ url_for("profile.index", user_id=post.author.id) }}" class="text-info">
          {{ post.author.username }}
        </a>
      {%- endif -%}
    </b> {{ moment(post.posted_at).fromNow() }}

    {% if post.was_edited %}
      <p class="small">Last edited {{ moment(post.edited_at).fromNow() }}</p>
    {% endif %}

    <hr />

    <p>{{ post.html_body|safe }}</p>

    {% if current_user.id == post.author.id or current_user.is_admin %}
      <hr class="border border-secondary rounded" style="margin-bottom: 0rem" />
      {# Edit #}
      <a href="{{ url_for("forum.edit_post", post_id=post.id) }}" class="btn btn-link">
        {% if current_user.id == post.author.id %}
          <b>Edit post</b>
        {% else %}
        <b class="text-danger">[admin] Edit post</b>
        {% endif %}
      </a>
      {# Delete #}
      <a href="{{ url_for("forum.delete_post", post_id=post.id) }}" class="btn btn-link" data-method="post"
          data-confirm="Are you sure you want to permanently delete this post?">
        {% if current_user.id == post.author.id %}
          <b class="text-danger">Delete post</b>
        {% else %}
        <b class="text-danger">[admin] Delete post</b>
        {% endif %}
      </a>
    {% endif %}
  </div>
</div>
