<div style="padding-bottom: 10px">
  <div class="border border-primary rounded" style="padding: 10px; border-width: 5px !important">
    <h1 class="">{{ post.title }}</h1>

    <b>Posted by {{ post.author.username }}</b> {{ moment(post.posted_at).fromNow() }}

    {% if post.was_edited %}
      <p class="small">Last edited {{ moment(post.edited_at).fromNow() }}</p>
    {% endif %}

    <hr />

    <p>{{ post.html_body|safe }}</p>

    {% if current_user.id == post.author.id %}
      <hr class="border border-secondary rounded" style="margin-bottom: 0rem" />
      <a href="{{ url_for("forum.edit_post", post_id=post.id) }}" class="btn btn-link">
        <b>Edit post</b>
      </a>
    {% endif %}
  </div>
</div>
