<div style="padding-bottom: 10px">
  <div class="border border-secondary" style="padding: 10px">
    {% set new_notif = notification.timestamp > last_read_time %}

    <div {% if new_notif %}class="border border-info bg-primary text-white"{% endif %}
        style="padding: 10px">
      {% if new_notif %}
        <i class="fas fa-exclamation-circle text-white"></i>
      {% endif %}
      <span class="small">Received {{ moment(notification.timestamp).fromNow() }}</span>
    </div>

    <hr />

    <div>
      {% if notification.icon %}
        <i class="{{ notification.icon}} {{ notification.text_class }}"></i>
      {% endif %}

      <span {% if notification.text_class %}class="{{ notification.text_class }}"{% endif %}>
        {{ notification.message }}
      </span>
    </div>

    {% if notification.url_link %}
    <a class="btn btn-primary btn-small" href="{{ notification.url_link }}">Go there</a>
    {% endif %}
  </div>
</div>
