<div class="navbar navbar-expand-xl fixed-top navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="{{ url_for("default.home") }}">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="{{ url_for("forum.index") }}">Forum</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for("learn.view", name="level-1-foreword.html") }}">Programming Beginners Level 1</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for("learn.view", name="level-2-foreword.html") }}">Programming Beginners Level 2</a></li>
      </ul>

      <ul class="nav navbar-nav ml-auto">
        {% if current_user.is_anonymous %}
          <li class="nav-item"><a class="nav-link" href="{{ url_for("auth.register") }}">Register</a></li>
          <li class="nav-item"><a class="nav-link" href="{{ url_for("auth.login") }}">Login</a></li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for("profile.notifications") }}">
              <i class="fas fa-globe-americas"></i>
              Notifications
              {% set new_notifs = current_user.new_notifications() %}
              <span id="notification_count" class="badge badge-secondary"
                  style="visibility: {% if new_notifs %} visible {% else %} hidden {% endif %}">
                {{ new_notifs }}
              </span>
            </a>
          </li>
          <li class="nav-item"><a class="nav-link" href="{{ url_for("profile.index") }}">My profile</a></li>
          {% if current_user.is_admin %}
              <li class="nav-item"><a class="nav-link" href="{{ url_for("admin.index") }}">Admin panel</a></li>
          {% endif %}
          <li class="nav-item"><a class="nav-link" href="{{ url_for("auth.logout") }}" data-method="post" data-confirm="Are you sure you want to logout?">Logout</a></li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for("default.bug_report") }}">
            <i class="fas fa-bug"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
