{% extends "bootstrap/base.html" %}

{% block title %}
  {% if title %}{{ title }}{% else %}Logan Gore's webpage{% endif %}
{% endblock %}

{% block macros %}
  {% include "partials/utils.html" %}
{% endblock %}

{% block head %}
  {{ super() }}
  <meta name="csrf-token" content="{{ csrf_token() }}">
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/default.min.css">
  <link rel="stylesheet" href="{{ url_for("static", filename="bootstrap-darkly.min.css") }}">
  <link rel="stylesheet" href="{{ url_for("static", filename="custom.min.css") }}">
{% endblock %}

{% block navbar %}
  {% include "partials/_nav.html" %}
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row content">

      <div class="col-sm-2 sidenav">
        {% block lhs_content %}{% endblock %}
      </div>

      <div class="col-sm-8 text-left">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="container">
                <div class="alert-list">
                    {% for category, message in messages %}
                    <div class="alert {{ category }} fade in">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {% if category == "alert-success" %}
                            <span class="fa fa-check"></span>
                        {% elif category == "alert-warning" %}
                            <span class="fa fa-question"></span>
                        {% elif category == "alert-danger" %}
                            <span class="fa fa-exclamation"></span>
                        {% endif %}
                        {{ message }}
                    </div>
                    {% endfor %}
        {% endif %}
        {% endwith %}

        {% block center_content %}{% endblock %}
      </div>

      <div class="col-sm-2 sidenav">
        {% block rhs_content %}{% endblock %}
      </div>
    </div>
  </div>

  <footer class="container-fluid text-center" style="padding-bottom: 50px">
    {% block footer %}{% endblock %}
  </footer>
{% endblock %}

{% block scripts %}
  {{ super() }}
  {{ moment.include_moment() }}

  <script src="{{ url_for("static", filename="js/jquery.js") }}"></script>
  <script src="{{ url_for("static", filename="js/jquery-ui.min.js") }}"></script>
  <script src="{{ url_for("static", filename="js/app.js") }}"></script>

  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}
