{% extends "base.html" %}

{% block center_content %}
  <h1>Share a secret</h1>
  <h3>Secret: {{ secret.shortname }}</h3>

  <div id="secret_responses_before">
    <div class="border border-secondary" style="padding: 10px">
      <p>Send this link to the person you'd like to share a secret with and we'll get their response:</p>
      <p>
        <button onclick="copyToClipboard('#secret-link')">
          <i class="fas fa-copy"></i> Copy
        </button>
        <span id="secret-link">{{ url_for("default.share_secret", secret_shortname=secret.shortname, _external=True) }}</span>
      </p>
    </div>

    <h3>Expected responses: <span id="expected">{{ secret.expected_responses }}</span></h3>
    <h3>Actual responses so far: <span id="actual">{{ secret.actual_responses }}</span></h3>
  </div>

  <div id="secret_responses_after" style="display: none">
    {% for i in range(secret.expected_responses) %}
      <div style="padding-bottom: 10px">
        <div class="border border-secondary" style="padding: 10px">
          <h4><b id="secret-response-person-{{ i }}"></b>'s secret</h4>
          <hr />
          <h5 id="secret-response-text-{{ i }}"></h5>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}

{% block scripts %}
  {{ super () }}

  <script>
    function add_secret_responses(responses, expected, actual) {
      if (expected === actual) {
        $("#secret_responses_before").hide();
        $("#secret_responses_after").show();
        var responseDiv = $("#secret_responses").text("");
        for (var i = 0; i < responses.length; i++) {
          var resp = responses[i];
          $("#secret-response-person-" + i).text(resp.person);
          $("#secret-response-text-" + i).text(resp.response);
        }
      } else {
        $("#expected").text(expected);
        $("#actual").text(actual);
      }
    }

    {# Immediately call this to load initial values #}
    $.ajax("{{ url_for("default.check_secret_ready", secret_id=secret.id) }}").done(
      function(result_json) {
        add_secret_responses(result_json.responses, result_json.expected_responses, result_json.actual_responses);
      }
    );

    {# 10 second interval for updates #}
    var interval = null;
    $(function() {
      interval = setInterval(function() {
        $.ajax("{{ url_for("default.check_secret_ready", secret_id=secret.id) }}").done(
          function(result_json) {
            add_secret_responses(result_json.responses, result_json.expected_responses, result_json.actual_responses);
            if (result_json.expected_responses === result_json.actual_responses) {
              clearInterval(interval);
            }
          }
        );
      }, 10000);
    });

    {# function to copy text to clipboard for usability #}
    function copyToClipboard(element) {
      var $temp = $("<input>")
      $("body").append($temp);
      $temp.val($(element).text()).select();
      document.execCommand("copy");
      $temp.remove();
    }
  </script>
{% endblock %}
