{% extends "base.html" %}

{% block center_content %}
  <h1>Secret {{ secret.shortname }}</h1>

  <div id="secret_responses">
    <p>Waiting on all responses...</p>
    <p id="expected">Expected responses: {{ secret.expected_responses }}</p>
    <p id="actual">Actual responses so far: {{ secret.actual_responses }}</p>
  </div>
{% endblock %}

{% block scripts %}
  {{ super () }}

  <script>
    function add_secret_responses(responses, expected, actual) {
      {# TODO #}
      if (expected === actual) {
        var responseDiv = $("#secret_responses").text("");
        responses.forEach(function(resp) {
          var text = document.createTextNode(resp.person + ": " + resp.response);
          var h2 = document.createElement("h2");
          h2.appendChild(text);
          responseDiv.append(h2);
        });
      } else {
        $("#expected").text(expected);
        $("#actual").text(actual);
      }
    }

    {# Immediately call this to load initial values #}
    $.ajax("{{ url_for("default.check_secret_ready", secret_id=secret.id) }}").done(
      function(result_json) {
        add_secret_responses(result_json.responses, result_json.expected_responses, result_json.actual_responses);
      }
    );

    {# 10 second interval for updates #}
    $(function() {
      setInterval(function() {
        $.ajax("{{ url_for("default.check_secret_ready", secret_id=secret.id) }}").done(
          function(result_json) {
            add_secret_responses(result_json.responses, result_json.expected_responses, result_json.actual_responses);
          }
        );
      }, 10000);
    });
  </script>
{% endblock %}
