.lhs-sticky {
  top: 75px;
}

@media(min-width: 992px) {
  .container-fluid {
    max-width: 90%;
  }
}

@media(min-width: 1200px) {
  .container-fluid {
    max-width: 80%;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .collapse {
    display: none !important;
  }
}
