{% extends "learn/base.html" %}

{% block learn_content %}
  <h1>Special topics</h1>

  {# Use row/col since we'll get nice formatting automatically #}
  <div class="row">
    <div class="col-sm-4">
      <a href="special-topics-algorithmic-complexity.html">Algorithmic Complexity</a>
    </div>

    <div class="col-sm-4">
      <a href="special-topics-collections.html">The <code>collections</code> library</a>
    </div>

    <div class="col-sm-4">
      <a href="special-topics-data-structures.html">Intro to data structures</a>
    </div>

    <div class="col-sm-4">
      <a href="special-topics-exceptions.html">Exceptions and <code>with</code></a>
    </div>

    <div class="col-sm-4">
      <a href="special-topics-matplotlib.html">The <code>matplotlib</code> library</a>
    </div>

    <div class="col-sm-4">
      <a href="special-topics-numpy.html">The <code>numpy</code> library</a>
    </div>

    <div class="col-sm-4">
      <a href="special-topics-pandas.html">The <code>pandas</code> library</a>
    </div>

    <div class="col-sm-4">
      <a href="special-topics-testing.html">Testing your code</a>
    </div>
  </div>
{% endblock %}
