{% extends "base.html" %}

{% block center_content %}
    {%- if current_user.id == user.id -%}
      <h1>My profile</h1>
      <a href="{{ url_for("profile.edit", user_id=user.id) }}">Edit</a>
    {%- else -%}
      <h1>{{ user.username }}'s profile</h1>
    {%- endif -%}

  <br />

  <div class="row">
    <div class="col">
      <a href="{{ url_for("profile.posts_by_user", user_id=user.id) }}">View posts</a>
    </div>
    <div class="col">
      <a href="{{ url_for("profile.comments_by_user", user_id=user.id) }}">View comments</a>
    </div>
    <div class="col">
      {%- if current_user.id == user.id -%}
        <a href="{{ url_for("profile.notifications") }}">Notifications</a>
      {%- endif -%}
    </div>
  </div>

  <hr />

  {% block profile_content %}{% endblock %}
{% endblock %}
