{% extends "forum/base.html" %}

{% block forum_content %}
  <div class="row">
    <div class="col">
      {% include "forum/partials/_post.html" %}
    </div>
  </div>

  {% if current_user.is_authenticated %}
  <div class="row" style="padding-bottom: 10px">
    <div class="col">
      <a href="{{ url_for("forum.new_comment", post_id=post.id) }}" class="btn btn-small btn-primary">
        Add a comment
      </a>
    </div>
  </div>
  {% endif %}

  {% for comment in comments.items %}
    <div class="row">
      <div class="col">
        {% include "forum/partials/_comment.html" %}
      </div>
    </div>
  {% endfor %}
{% endblock %}
