{% extends "forum/base.html" %}
{% import "partials/_utils.html" as utils222 %}

{% block forum_content %}
  {% include "forum/partials/_post.html" %}

  {% if current_user.is_authenticated %}
    <div style="padding-bottom: 10px">
      <a href="{{ url_for("forum.new_comment", post_id=post.id) }}" class="btn btn-small btn-primary">
        Add a comment
      </a>
    </div>
  {% endif %}

  {% for comment in comments.items %}
    {% include "forum/partials/_comment.html" %}
  {% endfor %}

  <hr />

{% endblock %}

{% block pagination %}
  {{ utils.render_pagination(comments) }}
{% endblock %}
