{% extends "base.html" %}

{% block title %}
  Wiki{% if title %} - {{ title }}{% endif %}
{% endblock %}

{%  block center_content %}
  <div class="row">
    <div class="col-sm-3">
      {% if current_user.is_admin %}
        <a class="btn btn-small btn-primary" href="{{ url_for("wiki.new") }}">Create a new page</a>
      {% endif %}
    </div>

    <div class="offset-sm-5 col-sm-4">
      {% if g.search_form %}
        <form class="form-group" method="get" action="{{ url_for("wiki.search") }}">
          {{ g.search_form.q(size=20, class="form-control", placeholder=g.search_form.q.label.text) }}
        </form>
      {% endif %}
    </div>
  </div>

  {% block wiki_content %}{% endblock %}
{% endblock %}
