{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block center_content %}
  <h3>Send a warning to {{ form.user.username }}</h3>
  {# TODO: Would be really cool to have this as ajax #}
  <h5>
    {% set warn_count = form.user.warnings.count() %}
    {% if warn_count > 0 %}
      <a href="{{ url_for("admin.view_warnings", user_id=form.user.id) }}">
        View {{ warn_count }} past warning{% if warn_count > 1 %}s{% endif %} for this user
      </a>
    {% else %}
      <p class="text-muted">(No past warnings for this user)</p>
    {% endif %}
  </h5>

  {{ wtf.quick_form(form) }}
{% endblock %}
