{% extends "base.html" %}

{% block lhs_content %}
  <div class="sticky-top">
    {% if page_name -%}
      <a class="btn btn-primary" href="{{ url_for("learn.ask_question", name=page_name) }}" style="white-space: normal">
        Question about this page?
      </a>

      <br />

      {% if has_questions %}
        <a href="{{ url_for("learn.questions", name=page_name) }}">View questions others have asked</a>
      {% endif %}

      <hr />
    {%- endif %}

    {% block learn_lhs_content %}{% endblock %}
  </div>
{% endblock %}

{% block title %}
  Learn{% if title %} - {{ title }}{% endif %}
{% endblock %}

{%  block center_content %}
  {% block learn_content %}{% endblock %}
{% endblock %}
